.modal {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__close {
  background-image: url(../../assets/close.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -35px;
  top: -45px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.modal__content {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 430px;
  height: auto;
  border-radius: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
}

.modal__title {
  margin: 0 0 24px 0;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
}

.modal__form {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.modal__label {
  color: #2f71e5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin-bottom: 8px;
}

.modal__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  display: block;
  color: #00000080;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.modal__submit {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: #e6e8eb;
  color: #b6bcbf;
  border: none;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
  margin: 32px 0;
  padding: 12px 0;
}

.modal__submit_disabled {
  opacity: 0.5;
}

.modal__footer-text {
  text-align: center;
  margin-top: 16px;
}

.modal__footer-link {
  color: blue;
  border: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .modal__footer-link {
    bottom: 48px;
  }
}
