.profile {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px 0 28px 104px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.profile__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.profile__info {
  margin-bottom: 10px;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.profile__keywords {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
}

.profile__info-span {
  font-weight: 700;
}

@media (max-width: 768px) {
  .profile {
    padding: 20px;
  }

  .profile__title {
    font-size: 16px;
  }

  .profile__info {
    font-size: 32px;
    line-height: 38px;
  }

  .profile__keywords {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .profile {
    padding: 10px;
  }

  .profile__title {
    font-size: 14px;
  }

  .profile__info {
    font-size: 28px;
    line-height: 34px;
  }

  .profile__keywords {
    font-size: 14px;
  }
}