* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Roboto", "Roboto-Slab", "Inter", sans-serif;
}

.page {
  background-color: black;
}

.page__content {
  max-width: 1425px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}
