/* User area layout */
.navigation {
  display: flex;
  gap: 42px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

/* Home button styling */
.navigation__home {
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Sign-in button styling */
.navigation__signin {
  color: white;
  background-color: transparent;
  border-radius: 100px;
  padding: 8px 16px; /* Adds padding for better button size */
  border: 2px solid white; /* Adds a border to make the button visible */
  cursor: pointer;
  width: 176px;
  height: 48px;
}

/* Hover effect for Home button */
.navigation__home:hover,
.navigation__signin:hover {
  color: #007bff; /* Changes text color on hover */
}

/* Hover effect for Sign-in button */
.navigation__signin:hover {
  background-color: rgba(
    0,
    123,
    255,
    0.1
  ); /* Adds a subtle background on hover */
}

@media (max-width: 768px) and (min-width: 321px) {
  /* Your styles for screens between 768px and 321px go here */
  .navigation__user {
    font-size: 16px;  /* Example of a style */
  }
}

@media (max-width: 320px) {
  /* Your styles for screens 320px and below go here */
  .navigation__user {
    font-size: 14px;  /* Example of a style */
  }
}