.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__user {
    display: flex;
    gap: 12px;
}

.navigation__home {
    border: none;
    background-color: transparent;
}

.navigation__signin {
    background-color: transparent;
    border-radius: 10px;
}