.header {
  background-color: transparent;
  color: white;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.header::after {
  z-index: 11;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__content {
  margin: 80px auto;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  width: 608px;
  text-align: left;
}

.header__title {
  font-family: "Roboto-Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
}

.header__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 800px) {
  .header {
    max-width: 800px;
    height: 66px;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
  .header__description {
    margin: 0 0 48px;
  }
}

@media (max-width: 460px) {
  .header {
    max-width: 460px;
    min-width: 320px;
    height: 56px;
    padding: 16px;
  }
  .header__logo {
    margin-left: 16px;
    z-index: 100;
  }
  .header__content {
    padding: 16px;
  }
  .header__title {
    margin: 0;
  }
  .header__description {
    margin: 25px 0 95px;
    padding: 0;
  }
}
