.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* This will space out the navbar items */
    align-items: center;
    padding: 30px 104px 26px;
    z-index: 10; /* Higher z-index ensures navbar is above the background */
    background-color: transparent;
    color: white;
    width: 100%; /* Ensure it covers the full width of the screen */
    height: 80px; /* Fixed height */
    border-bottom: solid #c4c4c4 1px;
    text-align: center;
    box-sizing: border-box; /* Ensures padding doesn't mess with width/height */
  }
  
  /* Styling for the logo */
  .header__logo {
    color: white;
    font-family: "Roboto-Slab";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
  }