.newsCard {
  background-color: #f5f6f7;
  border-radius: 8px;
  text-align: left;
  padding: 80px 104px;
}

.newsCard__text {
  font-family: "Roboto-Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
}

.newsCard__list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 64px auto;
}

.newsCard__btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-top: 54px;
}

.newsCard__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  background-color: #e8e8e8;
  border-radius: 80px;
  border: none;
  width: 288px;
  height: 64px;
}
